<!-- CKEditor Script -->
<script src="https://cdn.ckeditor.com/4.21.0/standard/ckeditor.js"></script>
<script>
    CKEDITOR.replace('editor'); // Initialize CKEditor on the textarea
</script>
<script>
    CKEDITOR.config.versionCheck = false;
</script>
</div>
</body>
</html>