<%- include("partials/header.ejs") %>
<div class="container">
<h1>Contact Me</h1>
<form class="Contact-form" action="/contact" method="POST">
  <input name="name" type="text" class="feedback-input" placeholder="Name" />
  <input name="email" type="text" class="feedback-input" placeholder="Email" />
  <textarea name="text" class="feedback-input" placeholder="Comment"></textarea>
  <input class="contactme-btn" type="submit" value="SUBMIT" />
</form>
</div>